{% extends 'base.html.twig' %}

{% block body %}
    <main class="site-main">
        <div class="container">

            <section class="words">
                <div class="word-group" id="word-group" data-id="{{ id }}"></div>
            </section>

        </div>
    </main>
{% endblock %}