{% extends 'base.html.twig' %}

{% block body %}
    <main class="site-main">
        <div class="container">

            <section class="upload">
                <form class="upload-form" id="upload-form" method="post">
                    <h2>Загрузить свой список слов</h2>
                    <div class="fields">
                        <div class="field">
                            <label>
                                <span>Выберите файл:</span>
                                <input type="file" name="file">
                            </label>
                            <div class="description">Поддерживаемые форматы: JSON, XML.
                                Скачать пример файла <a href="{{ asset('files/dict-a.json"') }}"
                                                        target="_blank">JSON</a>, <a
                                        href="{{ asset('files/dict-b.xml"') }}" target="_blank">XML</a>.
                            </div>
                        </div>
                        <div class="field field-s">
                            <label>
                                <span>Язык оригинала</span>
                                <select name="original" class="language-select">
                                    <option></option>
                                </select>
                            </label>
                        </div>
                        <div class="field field-s">
                            <label>
                                <span>Язык перевода</span>
                                <select name="translation" class="language-select">
                                    <option></option>
                                </select>
                            </label>
                        </div>
                        <div class="field">
                            <label>
                                <span>Название списка</span>
                                <input type="text" name="group">
                            </label>
                        </div>
                    </div>
                    <div class="submit-btn">
                        <button type="submit" class="btn btn-bg">Загрузить</button>
                    </div>
                </form>
            </section>

            <section class="language">
                <form class="language-form" id="language-form" method="post">
                    <h3>Нет нужного языка? Создайте его сами!</h3>
                    <div class="fields">
                        <div class="field field-s">
                            <label>
                                <span>Код языка <a href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes"
                                                   target="_blank"><i class="fas fa-info-circle"></i></a></span>
                                <input type="text" name="code" minlength="2" maxlength="2">
                            </label>
                        </div>
                        <div class="field field-s">
                            <label>
                                <span>Название языка</span>
                                <input type="text" name="name">
                            </label>
                        </div>
                    </div>
                    <div class="submit-btn">
                        <button type="submit" class="btn btn-bg">Создать</button>
                    </div>
                </form>
            </section>

        </div>
    </main>
{% endblock %}
