{% extends 'base.html.twig' %}

{% block body %}
    <main class="site-main">
        <div class="container">

            <section class="words">
                <div class="word-list" id="words">
                </div>
            </section>

        </div>
    </main>
{% endblock %}